#root {
  width: 100%;
}
body{
    transition:0.4s;
}

.card{
    transition:0.4s;
}

.bg-dark .card{
    background:#2b2b2b;
    color:white;
}

.bg-dark input,
.bg-dark select{
    background:#444;
    color:white;
    border:1px solid #666;
}

.bg-dark input::placeholder{
    color:#ddd;
}

.bg-dark table{
    color:white;
}

.bg-dark .table-striped>tbody>tr:nth-of-type(odd){
    color:white;
}

.bg-dark .table{
    color:white;
}
body {
  overflow-x: hidden;
}